.rotoscope-background {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.rotoscope-swath {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

@media (max-width: 767px) {
  .rotoscope-background {
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
  }
}
