.season-view {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  background: #2a2a2a;
  overflow: hidden;
}

.cast-container {
  position: relative;
  width: 100%;
  height: 100%;
}
